input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }
  .containerlogin{
      height:25px;
      background-color: black;
      display:flex;
      flex-direction:row-reverse;
  }
  .loginitem{
      color: white;
      display:inline;
      margin-right:12px;
  }
  #carrito{
    width: 100%;
    height: 100%;
    margin-left:8px;
    color:whitesmoke;
    margin-top:6px;
  }
  @media(min-width:766px){
  #searchbox{
    margin-left: 10px;
  }
  }