<footer class="main-footer">
    
    <div class="container mt-5 mb-4 text-center text-md-left fm">
        <div class="row mt-3">
    
      
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>lo de tito</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Somos una tienda de ropa unisex para adultos y niños/as.</p>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Mas sobre nosotros</a>
                </p>
            </div>
         
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>producto</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/cathombre">Hombre</a>
                </p>
                <p>
                    <a href="/catmujer">Mujer</a>
                </p>
            </div>
         
    
    
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Ayuda</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Pregutas Frecuentes</a>
                </p>
                <p>
                    <a href="#!">Peregunta Envio</a>
                </p>
                <p>
                    <a href="#!">Mesa de Ayuda</a>
                </p>
                <p>
                    <a href="#!">Envio</a>
                </p>
            </div>
          
            <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                    <strong>contacto</strong>
                </h6>   
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://goo.gl/maps/1xshKyrFvGz5Jqjp7">Los Lagos 1007, ar</a>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@dh6.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 011 56342167</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
        
    
        </div>
    </div>
      
	</footer>
	<div class="sub-footer">
		<div class="container">
			<p>Copyright © 1999-2020 lo de tito S.R.L.</p>
		</div>
	</div>